<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Autor</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <button>
        <a th:href="@{/autor/formnewautor}">Cargar autor</a>
    </button>
     <button>
        <a th:href="@{/autor/autorlist}">Ver lista de autores</a>
    </button>
    <button>
        <a th:href="@{/autor/formdisableautor}">Deshabilitar autor</a>
    </button>
     <button>
        <a th:href="@{/autor/formdenableautor}">Habilitar autor</a>
    </button>
    <button>
        <a th:href="@{/autor/formmodifyautor}">Modificar autor</a>
    </button>
    <button>
        <a th:href="@{/autor/lookforautor}">Buscar autor por id</a>
    </button>
  </body>
</html>




