
.principaltittle{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(85, 83, 83);
    opacity: 0.9;
    width: 500px;
    position: relative;
    top: 10px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
  }

   .center{
    display: flex;
    justify-content:space-evenly
   }



.paragraph{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bold;
    font-style: oblique;
}



